# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Data & artifacts (important for your project)
data/saved_features/
data/ExtractedFeatures_4s/
*.npy
*.pt
*.pth
*.csv

